bu {
    
}
buttonm {
    
}
button {
    
}
button.active {
    display: flex;
    font-size: 56px;
}
b {
    
}
body {
    --var: -30px;
}
body:has(.active) buttonm {
    
}
body:has(.active) button {
    
}
buj {
    
}
