body:has(button.active) {
    color: red;
}
body main button.active {
    /* color: purple; */
}
body has {
    
}
b {
    
}
bu {
    
}
button {
    color: orange;
}
button.active {
    color: black;
}
