body:has(button.active) {
    --color: red;
    color: red;
}
body main button.active {
    /* color: purple; */
    /* --color: black; */
}
bo {
    
}
button {
    color: orange;
    /* --color: orange; */
}
button.active {
    color: var(--color);
}
button ac {
    
}
button active {
    
}
