[data-kind="rule"] > [data-attr="properties"] {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}
