.btn {
  font-size: 20px;
}

.btn.active {
  line-height: 1;
}

.btn[data-value] {
  line-height: 2;
}

button .btn [data-value*="true"] {
  line-height: 3;
}

button > .btn {
  color: red;
}

:root {
  width: calc(100% - 2em);
  background-color: rgb(31, 31, 31);
}

.--css-edit-editor {
  --spacing: 0.25em;
  --brace-color: #d8a90c;
  --outline-color: #ffffff17;
  --number-color: #b5cea8;
  --class-color: #d7ba7d;
  --function-color: #dcdcaa;
  --property-name-color: #9cdcfe;
  --variable-color: #9cdcfe;
  --string-color: #ce9178;
  --attribute-color: var(--property-name-color);
  --foreground-color: #ccc;
  --at-rule-color: #c586c0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  background-color: rgb(31, 31, 31);
  color: var(--foreground-color);
  font-size: 18px;
  font-family: Berkeley Mono;
}

[data-attr] {
  display: flex;
}
[data-numeric="true"] {
  color: var(--number-color);
}

[data-kind="rule"]::after {
  content: "}";
}

[data-kind="property"] > [data-attr="name"] {
  color: var(--property-name-color);
}
[data-kind="selector_modifier"] {
  display: flex;
}
[data-kind="child_selector"] {
  display: flex;
  gap: 0.25em;
}

[data-value]:hover,
[data-value]:focus {
  outline: var(--outline-color) solid 0.1em;
}

[data-kind="rem"],
[data-kind="em"] {
  display: flex;
}
[data-kind="rem"] > [data-attr="value"]::after {
  content: "rem";
  color: var(--function-color);
}
[data-kind="em"] > [data-attr="value"]::after {
  content: "em";
  color: var(--function-color);
}

[data-kind="pseudo_selector_without_args"] > [data-attr="name"] {
  color: var(--class-color);
  &::before {
    content: ":";
    color: var(--class-color);
  }
}

[data-kind="pseudo_element_selector"] > [data-attr="name"] {
  color: var(--class-color);
  [data-value]::before {
    content: "::";
  }
}

[data-kind="element_selector"] {
  color: var(--class-color);
}
[data-kind="string"] {
  color: var(--string-color);
}
[data-kind="rule"][data-self_sub_rule="true"] > [data-attr="query"]::before {
  content: "&";
  margin-right: -2px;
  color: var(--foreground-color);
}
[data-kind="rule"] > [data-attr="query"] {
  display: flex;
  gap: 0.25em;
  &::after {
    display: flex;
    flex-direction: column;
    justify-content: end;
    content: "{";
  }
  [data-attr="name"] {
    width: max-content;
  }
}

[data-kind="rule"] > [data-attr="properties"] {
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
}
[data-kind="property"],
[data-kind="variable"] {
  display: flex;
  gap: 0.25em;
  & > [data-attr="name"] {
    width: 100%;
    &::after {
      content: ":";
      color: var(--foreground-color);
    }
  }
  &::after {
    margin-left: -0.25em;
    content: ";";
    color: var(--foreground-color);
  }
}
