.--css-edit-editor {
  margin-top: 1em;
  flex-direction: row;
  > :nth-child(1)::before {
    content: "HEAD";
    position: absolute;
    top: 0;
  }
  > :nth-child(2) {
    &::before {
      content: "02/12/2023 | update ...";
      position: absolute;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 325px;
      top: 0;
    }
    &:hover::before {
      overflow: initial;
      white-space: unset;
      text-overflow: unset;
      background: rgba(31, 31, 31, 0.5);
    }
  }
}

[data-diff-type="added"] {
  --diff-color: rgba(40, 107, 15, 0.5);
}

[data-diff-type="changed"] {
  --diff-color: rgba(16, 103, 209, 0.5);
}

[data-diff-type="removed"] {
  --diff-color: rgba(255, 0, 0, 0.5);
}
[data-diff-type="modifier-changed"] > [data-attr="rhs"]::before {
  background-color: rgba(16, 103, 209, 0.5);
}
[data-diff-type] {
  border: 1px dashed var(--diff-color);
  margin: -1px;
  background: var(--diff-color);
}
