[data-diff-type="added"] {
  --diff-color: rgba(40, 107, 15, 0.5);
}

[data-diff-type="changed"] {
  --diff-color: rgba(16, 103, 209, 0.5);
}

[data-diff-type="removed"] {
  --diff-color: rgba(255, 0, 0, 0.5);
}

[data-diff-type] {
  border: 1px dashed var(--diff-color);
  margin: -1px;
  background: var(--diff-color);
}
[data-diff-old-value]:is(:hover, :focus-within)::after {
  content: attr(data-diff-old-value);
  background: rgba(255, 0, 0, 0.5);
  margin-top: 1em;
}

[data-attr="query"] [data-diff-type="removed"] {
  overflow: hidden;
  width: 100%;
  transition: width 200ms linear;
  min-width: 5px;
  &:not(:hover):not(:focus-within) {
    width: 5px;
    * {
      display: none;
    }
  }
}
[data-kind="property"][data-diff-type="removed"] {
  overflow: hidden;
  transition: all 100ms linear;
  height: 1.25em;
  font-size: 18px;
  &:not(:hover):not(:focus-within) {
    width: 100px;
    height: 5px;
    *,
    &::after {
      display: none;
    }
  }
}
