[data-diff-type="added"] {
  --diff-color: rgba(40, 107, 15, 0.5);
}

[data-diff-type="changed"] {
  --diff-color: rgba(16, 103, 209, 0.5);
}

[data-diff-type="removed"] {
  --diff-color: rgba(255, 0, 0, 0.5);
}

[data-diff-type] {
  border: 1px dashed var(--diff-color);
  margin: -1px;
  background: var(--diff-color);
}

[data-diff-type="removed"] {
  overflow: hidden;
  transition: all 100ms linear;
  height: 1.25em;
  font-size: 18px;
  &:not(:hover):not(:focus-within) {
    width: 100px;
    height: 5px;
    *,
    &::after {
      display: none;
    }
  }
}
