.--css-edit-editor {
  background-color: lightgray;
  padding: 0.5rem;
  font-size: 17px;
  font-family: monospace;
  --number-color: rgb(0, 128, 0);
  --class-color: rgb(0, 0, 139);
  --function-color: rgb(139, 0, 0);
  --rule-name-color: rgb(32, 123, 156);
  --variable-color: rgba(1, 45, 148, 0.647);
  --string-color: rgb(165, 42, 42);
  --attribute-color: rgba(0, 0, 255, 0.557);
}
[data-numeric="true"] {
  color: var(--number-color);
}
[data-kind="decl"]::after {
  content: "}";
}
[data-value]:hover {
  outline: black solid 1px;
}
[data-kind]:hover:not(:has([data-kind]:hover)) {
  outline: black solid 1px;
}
[data-kind]:hover:not(:has([data-kind]:hover, [data-value]:hover)) {
  outline: black solid 1px;
}
[data-kind="rule"] > [data-attr="name"] {
  color: var(--rule-name-color);
}
[data-kind="selector_modifier"] {
  display: flex;
}
[data-kind="child_selector"] {
  display: flex;
  gap: 0.25em;
}
[data-kind="rem_value"] > [data-attr="value"]::after {
  content: "rem";
  color: black;
}
[data-kind="em_value"] > [data-attr="value"]::after {
  content: "em";
  color: black;
}
[data-kind="variable"] > [data-attr="name"] {
  color: var(--variable-color);
}
[data-kind="pseudo_selector_without_args"] > [data-attr="name"]::before {
  content: ":";
}
[data-kind="pseudo_element_selector"] > [data-attr="name"]::before {
  content: "::";
  color: black;
}
[data-kind="element_selector"] {
  color: green;
}
.open-in-vscode {
  display: none;
}
[data-kind="decl"]:hover .open-in-vscode {
  display: flex;
}
.open-in-vscode {
  font-size: 14px;
  position: absolute;
  right: 1rem;
  background-color: rgba(255, 255, 255, 0.285);
  padding: 4px;
}
[data-kind="string_value"] {
  color: var(--string-color);
}
[data-kind="decl"] > [data-attr="query"] {
  display: flex;
  gap: 0.25em;
  &::after {
    content: "{";
  }
  [data-attr="name"] {
    width: max-content;
  }
}
[data-kind="decl"] > [data-attr="rules"] {
  padding-left: 1em;
  & > [data-kind] {
    display: flex;
    gap: 0.25em;
    & > [data-attr="name"] {
      width: max-content;
      &::after {
        content: ":";
        color: black;
      }
    }
    &::after {
      margin-left: -0.25em;
      content: ";";
      color: black;
    }
  }
}
[data-kind="px_value"] {
  display: flex;
  &::after {
    color: black;
    content: "px";
  }
}
[data-kind="class_selector"] {
  display: flex;
  color: var(--class-color);
  &::before {
    color: black;
    content: ".";
  }
}
[data-kind="rgb_value"] {
  display: flex;
  &::before {
    content: "rgb";
    color: var(--function-color);
  }
  & > [data-attr]:not(:last-child)::after {
    content: ",";
    color: black;
  }
  & > [data-attr="r"]::before {
    content: "(";
    color: black;
  }
  & > [data-attr="b"]::after {
    content: ")";
    color: black;
  }
}
[data-kind="rgba_value"] {
  display: flex;
  &::before {
    content: "rgba";
    color: var(--function-color);
  }
  & > [data-attr]:not(:last-child)::after {
    content: ",";
    color: black;
  }
  & > [data-attr="r"]::before {
    content: "(";
    color: black;
  }
  & > [data-attr="a"]::after {
    content: ")";
    color: black;
  }
}
[data-kind="hex_value"] {
  display: flex;
  &::before {
    content: "#";
    color: var(--function-color);
  }
  [data-attr="r"] {
    background-color: rgba(255, 0, 0, 0.25);
  }
  [data-attr="g"] {
    background-color: rgba(0, 255, 0, 0.25);
  }
  [data-attr="b"] {
    background-color: rgba(0, 0, 255, 0.25);
  }
}
[data-kind="attribute_selector_no_match"] {
  & > [data-attr="name"] {
    color: var(--attribute-color);
    &::before,
    &::after {
      color: black;
    }
    &::before {
      content: "[";
    }
    &::after {
      content: "]";
    }
  }
}
[data-kind="attribute_selector_equals"] {
  display: flex;
  & > [data-attr="name"] {
    color: var(--attribute-color);
  }
  &::before {
    content: "[";
  }
  & > [data-attr="name"]::after {
    color: black;
    content: "=";
  }
  & > [data-attr="value"] {
    color: var(--string-color);
    &::before,
    &::after {
      content: '"';
    }
  }
  &::after {
    content: "]";
  }
}
[data-kind="var_value"] {
  display: flex;
  &::before {
    color: var(--function-color);
    content: "var";
  }
  &::after {
    content: ")";
  }
  & > [data-attr="name"] {
    color: var(--variable-color);
    &::before {
      content: "(";
      color: black;
    }
  }
}
[data-kind="pseudo_selector_with_args"] {
  display: flex;
  color: rgb(137, 68, 68);
  &::before,
  &::after,
  ::before,
  ::after {
    color: black;
  }
  & > [data-attr="args"] {
    display: flex;
    & > [data-kind]:not(:last-child)::after {
      content: ",";
    }
  }
  &::before {
    content: ":";
  }
  & > [data-attr="name"]::after {
    content: "(";
  }
  &::after {
    content: ")";
  }
}
[data-kind="nth_expr_with_plus"]:has(
    > [data-attr="factor"][data-value="2"],
    > [data-attr="offset"][data-value="1"]
  ) {
  * {
    display: none;
  }
  &::after {
    content: "odd";
    color: rgb(186, 156, 36);
  }
}
[data-kind="nth_expr_without_plus"]:has(
    > [data-attr="factor"][data-value="2"]
  ) {
  * {
    display: none;
  }
  &::after {
    content: "even";
    color: rgb(186, 156, 36);
  }
}
[data-kind="nth_expr_with_plus"] {
  display: flex;
  & > [data-attr="factor"]::after {
    content: "n+";
  }
}
[data-kind="nth_expr_without_plus"] {
  display: flex;
  & > [data-attr="factor"]::after {
    content: "n";
  }
}

[data-kind="direct_descendent"] {
  display: flex;
  gap: 0.5rem;
  > [data-attr="lhs"] {
    display: flex;
    gap: 0.5rem;
    &::after {
      content: ">";
    }
  }
}
