.editor {
  background: lightgray;
  padding: 0.5rem;
  font-family: monospace;

  --number-color: green;
  --class-color: darkblue;
}

[data-kind] {
  width: min-content;
  &:hover {
    outline: 1px solid black;
  }
}

[data-kind="declaration"] > [data-attr="query"] {
  display: flex;
  gap: 0.25rem;
  &::after {
    content: "{";
  }
}

[data-kind="declaration"]::after {
  content: "}";
}

[data-kind="declaration"] > [data-attr="rules"] {
  padding-left: 1rem;
  > [data-kind] {
    display: flex;
    gap: 0.25rem;
    > [data-attr="name"] {
      width: max-content;
      &::after {
        content: ":";
      }
    }
    &::after {
      margin-left: -0.25rem;
      content: ";";
    }
  }
}

[data-kind="px_value"] {
  display: flex;
  color: var(--number-color);
  &::after {
    color: black;
    content: "px";
  }
}

[data-kind="class_selector"] {
  display: flex;
  color: var(--class-color);
  &::before {
    color: black;
    content: ".";
  }
}

[data-kind="selector_modifier"] {
  display: flex;
}

[data-kind="child_selector"] {
  display: flex;
  gap: 0.25rem;
}

.css-query-hover {
  outline: 2px solid rgba(255, 255, 0, 0.439);
}
