[data-attr="properties"] [data-value]:hover {
    display: flex;
    outline: var(--outline-color) solid 0.1em;
    font-size: 30px;
    color: red;
    --outline-color: white;
}
[data-attr="properties"] [data-value]:focus {
    --outline-color: white;
    /* color: white; */
    outline: var(--outline-color) solid 0.1em;
}
.main {
    color: red;
}
.main .btn {
    font-size: 20px;
}
:root {
    --outline-color: #ccc;
}
