.main {
    columns: 20px;
    /* color: red; */
    /* color: blue; */
    /* font-size: 40px; */
    color: yellow;
}
.main .btn {
    color: blue;
}
:root {
    font-family: mono;
    --color: red;
    --var: 20px;
    /* color: orange; */
}
