:root {
  color: red;
  --spacing: 0.5em;
  font-size: 30px;
  /* --blah: ah; */
}
.--editor {
  display: flex;
  padding: var(--spacing);
  --spacing: 0.25em;
  flex-direction: row;
  /* color: red; */
  font-size: 20px;
}
