input[type="search"] {
  font-family: monospace;
  position: sticky;
  top: 1rem;
  width: calc(100% + 0.5em);
  font-size: 17px;
  outline: none;
  background-color: rgba(56, 56, 56, 0.9);
  color: var(--foreground-color);
  border-color: var(--outline-color);
}
[data-current-search-idx] {
  .searched {
    background-color: rgba(158, 106, 3, 0.25);
    &.focused {
      outline: rgb(158, 106, 3) solid 0.1em;
    }
  }
  [data-attr="query"] {
    overflow: hidden;
  }
  &:not([data-current-search-last-idx="-1"]) {
    :is([data-kind="variable"], [data-kind="property"]):not(
        :has(.searched),
        .searched
      ) {
      animation: shrink 100ms ease;
      animation-fill-mode: forwards;
      overflow: hidden;
    }
    [data-kind="rule"]:not(:active, :focus-within):not(:has(.searched)) {
      animation: shrink 100ms ease;
      animation-fill-mode: forwards;
      &::after {
        display: none;
      }
    }
    [data-kind="property"]:not(:has(.searched))
      :not([data-attr], [data-kind], [data-value]) {
      display: none;
    }
    [data-kind="rule"]:is(:active, :focus-within) {
      &:not(:has(.searched)),
      :is([data-kind="variable"], [data-kind="property"], ):not(
          :has(.searched)
        ) {
        animation: expand 1s linear;
        animation-fill-mode: forwards;
      }
      [data-kind="rule"]:not(:has(.searched)) {
        --background-color: rgb(50, 50, 50);
        animation: expand 1s linear;
        animation-fill-mode: forwards;
        &::after,
        [data-kind="rule"]::after {
          display: flex;
        }
      }
    }
  }

  &::before {
    content: attr(data-current-search-idx) "/"
      attr(data-current-search-last-idx);
    position: fixed;
    z-index: 1;
    right: 2.5em;
  }
  &[data-current-search-last-idx="-1"]:not(
      :has(> input.search:placeholder-shown)
    )::before {
    content: "no results";
  }
  &:has(> input.search:placeholder-shown)::before {
    content: "";
  }
}

@keyframes shrink {
  0% {
    height: 1.2em;
  }

  100% {
    height: 0;
    width: 0;
    margin-top: calc(-1 * var(--spacing));
    padding: 0;
  }
}

@keyframes expand {
  0% {
    height: 0;
    width: 0;
  }

  5% {
    width: max-content;
    background-color: rgba(0, 128, 0, 0.5);
  }

  20% {
    height: 100%;
  }

  100% {
    background-color: var(--background-color);
    height: 100%;
  }
}
