.--css-edit-editor {
  --spacing: 0.25em;
  --brace-color: #d8a90c;
  --outline-color: #ffffff17;
  --number-color: #b5cea8;
  --class-color: #d7ba7d;
  --function-color: #dcdcaa;
  --property-name-color: #9cdcfe;
  --variable-color: #9cdcfe;
  --string-color: #ce9178;
  --attribute-color: var(--property-name-color);
  --foreground-color: #ccc;
  --at-rule-color: #c586c0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  background-color: rgb(31, 31, 31);
  color: var(--foreground-color);
  font-size: 18px;
  font-family: Berkeley Mono;
}
